.header-wrapper {
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
  
}
.title {
  color: red;
  font-size:50px;
  text-align: center;
}
img {
  height: 60px;
}
@media screen and (max-width:499px) {
  .header-wrapper {height: 55px;}
  .title {
    font-size:30px;
  }
  img {
    height: 50px;
  }
}
