body{box-sizing: border-box;}
.url-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.url-input-container input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  margin-right: 10px;
}

.youtube-player {
  width: 100%;
  aspect-ratio: 16/9;
  background-color: black;
}

.video-info {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

.loop-range {
  position: absolute;
  height: 100%;
  background-color: rgba(0, 123, 255, 0.3);
}

.ab-loop-controls {
  display: flex;
  flex-direction: column;
}
/* 色設定 */
:root {
  --bg: rgb(224, 224, 224);
  --bar: rgb(0, 255, 0);
}

/* グリッド */
.slidebar-multithumb {
  display: grid;
  padding-top: 1rem;
  padding-bottom: 2rem;
  position: relative;
  width: 100%;
  height: 20px;
}

/* inputのスタイル */
.thumb-1-input,
.thumb-2-input,
.thumb-3 {
  grid-column: 1;
  grid-row: 1;
  pointer-events: none;
  -webkit-appearance: none;
  background: none;
  border: 1px solid;
  height: 20px;
  
  overflow: hidden;
  
}
.thumb-1-title,
.thumb-2-title {
  grid-row: 1;
  grid-column: 1;
  transform: translate(0, -20px);
}

.thumb-2-title {
  text-align: right;
}
/* つまみ部分のスタイル */
.slidebar-multithumb ::-webkit-slider-thumb {
  pointer-events: auto;
  -webkit-appearance: none;
  width: 10px;
  height: 20px;
}

/* それぞれのつまみのスタイル */
.thumb-1-input {
  z-index: 2;
}
.thumb-2-input {
  z-index: 1;
}
.thumb-3 {
  z-index: 3;
  width: 10px;
background-color: black;}

.thumb-1-input::-webkit-slider-thumb {
  background: rgb(255, 139, 139);
  box-shadow: -100vw 0 0 100vw var(--bg);
}
.thumb-2-input::-webkit-slider-thumb {
  background: rgb(77, 169, 255);
  box-shadow: -100vw 0 0 100vw var(--bar);
}
.control-buttons{
  display: flex;
  justify-content: center;
}
.setStartTime-button{
  display: inline;
  color:rgb(255, 139, 139);
}
.setEndTime-button{
  display: inline;
  color:rgb(77, 169, 255);
}