body{box-sizing: border-box;}
.url-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.url-input-container input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #999;
  background-color: #e0e0e0;
  margin-right: 10px;
  
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2),
  inset -2px -2px 5px rgba(255, 255, 255, 0.7);

}
.url-input-container button{
  display: block;
  margin: 3px auto;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.2);
  transform: translate(40vw,-40px);
}
.url-input-container button:hover{
  background-color: black;
  color:white;
}



.youtube-player {
  width: 100%;
  aspect-ratio: 16/9;
  background-color: black;
}

.video-info {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

.loop-range {
  position: absolute;
  height: 100%;
  background-color: rgba(0, 123, 255, 0.3);
}

.ab-loop-controls {
  display: flex;
  flex-direction: column;
}

/* グリッド */
.slidebar-multithumb {
  display: grid;
  padding-top: 0;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 5px #0000004d, -2px -2px 5px #fff3;
  position: relative;
  width: 100%;
  height: 25px;
}

/* inputのスタイル */
.thumb-1-input,
.thumb-2-input,
.thumb-3 {
  grid-column: 1;
  grid-row: 1;
  pointer-events: none;
  -webkit-appearance: none;
  background: none;
  border: 1px solid;
  height: 25px;
  overflow: hidden;
  
}
.thumb-1-title,
.thumb-2-title {
  grid-row: 1;
  grid-column: 1;
  transform: translate(0, 25px);
}

.thumb-2-title {
  text-align: right;
}
/* つまみ部分のスタイル */
.slidebar-multithumb ::-webkit-slider-thumb {
  pointer-events: auto;
  -webkit-appearance: none;
  width: 15px;
  height: 25px;
}

/* それぞれのつまみのスタイル */
.thumb-1-input {
  z-index: 2;
}
.thumb-2-input {
  z-index: 1;
}
.thumb-3 {
  z-index: 3;
  width: 10px;
background-color: black;}

.thumb-1-input::-webkit-slider-thumb {
  background:#FC9D9D;
  box-shadow: -100vw 0 0 100vw white;
}
.thumb-1-input::-webkit-slider-thumb:hover{
  background-color: #ff7272;
}
.thumb-2-input::-webkit-slider-thumb {
  background: #AAD6EC;
  box-shadow: -100vw 0 0 100vw #EEF9FF;
}
.thumb-2-input::-webkit-slider-thumb:hover{
  background-color: #59b8e8;
}
.control-icons{
  display: flex;
  gap: 30px ;
  justify-content: center;
  height: 50px;
  margin-bottom: 10px;
}
.control-icons > *:hover{background-color: black;color:white;}


div.control-icons >button{
  height: 60px;
  width: 60px;
  border-radius: 30px;  
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.2);
}
div.control-icons >button > *{
  height: 60px;
  width: 60px;
  padding: 10px;
}
div.control-buttons > button{
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.2);
}
div.control-buttons > button:hover{
  border: 1px solid black;
  background-color: black;
  color:white;

}
.looping-active{
  color:#FC9D9D;
}
.setStartTime-button{
  display: inline;
  color:#FC9D9D;
}
.setEndTime-button{
  display: inline;
  color:#AAD6EC;
}
